.dashboard-contianer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.page-title {
    flex: 0 0 auto;

}

.dashboard {
    flex: 1 1 auto;
    height: calc(100% - 50px);
    display: grid;
    color: var( --font-color);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 190px auto;
    grid-template-areas:
    "profil profil  profil profil  friends"
    "match match achiev  achiev friends";
}

.profil{
    grid-area: profil;
    transition: 0.6s ease; 
    /* background-color:brown; */
}

.matchHistory{


    grid-area: match;
    overflow-y: auto;
}

.achievments{
    grid-area: achiev;
    overflow-y: auto;
}

.friends{
    grid-area: friends;
    overflow-y: auto;

    /* min-width: 350px; */
}