@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.dashboard-contianer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.page-title {
    flex: 0 0 auto;
  
}

.page-title h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.dashboard {
    flex: 1 1 auto;
    height: calc(100% - 50px);
    display: grid;
    color: var( --font-color);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 190px auto;
    grid-template-areas:
    "profil profil  profil profil  friends"
    "match match achiev  achiev friends";
}

.profil{
    grid-area: profil;
    transition: 0.6s ease; 
    /* background-color:brown; */
}

.matchHistory{


    grid-area: match;
    overflow-y: auto;
}

.achievments{
    grid-area: achiev;
    overflow-y: auto;
}

.friends{
    grid-area: friends;
    overflow-y: auto;

    min-width: 350px;
}