@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.gameArea {
    margin-top: 30px;
    display: flex;
}

.gameComponent {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s, border-bottom 0.1s;
}

.gameLogo, .gameTitle {
    display: inline-block;
    vertical-align: middle;
    color: #C6C8CF;
}

.gameTitle {
    margin-left: 10px;
}

.selected {
    border-bottom: 2px solid #C6C8CF;
}

.gameComponent:hover {
    transform: scale(.90);
}

/* Ping Pong styling section */

.PingPong-container {
    margin-top: 35px;
    margin-left: 10px;
    width: 80%;
}

.PingPong-container h1 {
    font-family: 'Jockey One';
}

/* game background styling section */

.areas-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.areas-container .underground {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;    
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-title {
    font-family: 'Jockey One';
    font-size: 32px;
    position: absolute;
    bottom: 3%;
    left: 50;
    width: 100%;
    background-color: rgba(115, 115, 115, 0.5);
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
}

.areas-container .underground img {
    max-width: 100%;
    height: 200px;
}

.underground.selectedUnderground {
    transform: scale(1.1);  
}

.underground:hover {
    transform: scale(1.1);  
}

/* Pick Tool styling section */

.tools-container {
    margin-top: 50px;
}
.tools-container h1 {
    font-size: 32px;
    font-family: 'Jockey One';
}
.tools-container .paddle-selector {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.tools-container .arrow-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.tools-container  .paddle-display {
    max-width: 254px;
    width: 100%;
    height: 21px;
    border-radius: 10.5px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
