@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.gameArea {
    margin-top: 30px;
    display: flex;
}
.ping-pong, .XO {
    margin-right: 60px;
    
}

.gameComponent {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s, border-bottom 0.3s;
}

.gameLogo, .gameTitle {
    display: inline-block;
    vertical-align: middle;
    color: #C6C8CF;
}

.gameTitle {
    margin-left: 10px;
}


.selected {
    border-bottom: 2px solid #C6C8CF;
}

.gameComponent:hover {
    transform: scale(.90);
}