.botParentHolder{
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;    
}
.botbody{
    width: 9rem;
}

.conversationHolder{
    width: 25rem;
    height: 35rem;
    border-radius: 12px;
    overflow: auto;
    background-color:#56596544;
    backdrop-filter : blur(20px);
    box-shadow: 0 0 12px rgb(0, 0, 0);
    grid-template-columns: 1fr;
    grid-template-rows: 4.5rem 1fr 4.5rem;
}

.BotInfo{
    display: flex;
    gap: 10px;
    flex-grow: 1;
    align-content: center;
    width: 90%;
    height: 100%;
}

.BotPhoto{
    margin-left: 1.25rem;
    width: 60px;
    height: 60px;
    align-self: center;
}

.BotnameAndStatus{
    display: flex;
    color: white;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
}

.BotName{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.StatusHolder{
    display: flex;
    align-items: center;
    gap: 1px;
    
}

.StatusIcon{
    width: 20px;
    height: 20px;
}

.Status{
    font-size: 0.775rem;
}

.ChatHeaderHolder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 25px 20px -20px #1d212b;
}



.ChatMainHolder{
    overflow: auto;
}

.ConversationMessages{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}


.ChatInputHolder{
    display: flex;
    align-items: start;
    justify-content: center;
}

.inputMessage{
    border: none;
    outline: none;
    background-color: #11141B;
    width: 100%;
    height: 100%;
    color: #fefeff;
    font-size: 1rem;
    font-family: 'Saira Semi Condensed', sans-serif;
    border-radius: 0.6625rem;
    margin-left: 2rem;
}

.inputMainDiv{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #121318;
    border-radius: 0.6625rem;
    height: 75%;
    width: 95%;
}
 /* MSGDISPLAYER */
.MsgIncom{
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    word-wrap: break-word;
    max-width : 35rem;
    color: #bacdf8;
    font-weight: bold;
}

.MsgOut{
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    word-wrap: break-word;
    max-width : 20rem;
    color: #bacdf8;
    font-weight: bold;
}

.receiverAvatar{
    display: flex;
    align-items: end;
    justify-content: end;
}

.MyAvatar{
    display: flex;
    align-items: center;
    justify-content: end;
    grid-row: 1 /2;
    grid-column: 2/ -1;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.msgContent{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-right: 1rem;
}

.incoming{
    font-size: 16px;
    max-width: 27rem;
    background-color: rgba(115, 115, 115, 0.2);
    padding: 1rem;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    word-wrap: break-word;
}

.outgoing{
    font-size: 16px;
    background-color: rgba(115, 115, 115, 0.2);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 1rem;
    max-width: 27rem;
    word-wrap: break-word;
}

.SendingTime{
    font-size: 0.7rem;
    color: #ffffff;
    opacity: 0.5;
}


.SendingTimeout{
    text-align: end;
    font-size: 0.7rem;
    color: #ffffff;
    opacity: 0.5;
}

@media screen and (max-width: 950px) {

    .botParentHolder{
        display: none;
    }
}
.ConversationMessages::-webkit-scrollbar {
    width: 0.5rem;
    backdrop-filter : blur(20px);

}

.ConversationMessages::-webkit-scrollbar-track {
    background-color: none;
    margin-block: 4rem;

}

.ConversationMessages::-webkit-scrollbar-thumb {
    background-color: rgb(17, 14, 14);
    border-radius: 5rem;
}

