.card{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 5px 10px 5px 10px;

    cursor: pointer;
    /* border-bottom: solid 1px #11141B; */
    /* justify-content: space-between; */
}

.card:last-child{
    border-bottom: none;
}

.card:hover{
    background-color: var(--bg-body);
    transition: 0.3s;
}

.won::before{
    position: absolute;
    content: "";
    background-color: #03F054;
    height: 70%;
    width: 2px;
    left: 0px;
    bottom: 15px;
    transition:  0.3s ease;

}

.loss::before{
    position: absolute;
    content: "";
    background-color: #FF4655;
    height: 70%;
    width: 2px;
    left: 0px;
    bottom: 15px;
    transition:  0.3s ease
}

.won:hover::before{
    width: 4px;
    box-shadow: 0 0 20px #03F054;
}

.loss:hover::before{
    width: 4px;
    box-shadow: 0 0 20px #FF4655;
}

.playerImage img{
    width: 70px;
    border-radius: 5px;
}

.playerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    /* margin-left: 20px; */

}

.playerInfo .box{
    display: flex;
    flex-direction: column;
    text-align: center;

}

.playerInfo .nameRank{
    padding: 2px;
    width: 30%;
}

.playerInfo .totalGames{
    padding: 2px;
}

.playerInfo .win{
    padding: 2px;
}

.playerInfo .loss{
    padding: 2px;
}

.playerInfo .true .clr{
    color: #03F054;
    letter-spacing: 2px;
}

.playerInfo .false .clr{
    color: #FF4655;
    letter-spacing: 2px;
}

.parg{
    padding: 5px;
    font-size: 10px;

}

.playerInfoBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 70%;
}