.friendsContainerMedia{
    display: flex;
    height: 100%;
    width: 100%;

}


.listFriends::-webkit-scrollbar {
    display: none;
}

.friendsBoxMedia{
    flex: 1 1 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.headerFrendMedia{
    width: 100%;
    height: 60px;
}

.listFriendsMedia{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.listFeiendListMedia{
    gap: 20px;

}
.listFriends::-webkit-scrollbar {
    display: none;
}


.ConversationContainerAnimationMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.NoOneToTalkTostMedia{

    align-self: center;
    opacity: 0.1;
}

