.macthContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--bg-body);
    padding-top: 0;
    padding-right: 20px;
}
.matchHeader{
    flex: 0 0 auto;
    padding: 10px 0;
}

.historyCard{
    background-color:  var(--card-bg-color);
    flex: 1 1 auto;
    overflow-y: auto ;
    padding-top: 20px;

}

.historyCard::-webkit-scrollbar {
    display: none;
}

.sadFaceAnimationGame{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .sadeFaceGame{
    align-self: center;
    width: 300px;
    height: 300px;
    opacity: 0.1;

  }

  .sadFaceAnimationGame h3{
    color: #363945;

  }

  

@media screen and (max-width: 950px) {
    .macthContainer{
        padding-right: 0 !important;
 
    }
}