.notifCard{
    display: flex;
    align-items: center;
    border-bottom: solid 1px #111111;
    padding: 10px;
    height: 80px;
}

.notifCard:hover{
    /* box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.5); */
    background-color: var(--bg-body);
}

.notifCard .notifImage img{
    width: 50px;
    border-radius: 5px;
}

.notifCard .notifInfo{
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.notifCard .notifInfo p{
    cursor: pointer;
    color: #7774f7;

}

.notifCard .notifInfo p span{
    color: white;
	margin-left: 5px;
    font-size: 12px;

}

.notifCard:last-child{
    border-bottom: 0;
}

.notifTime{
  
    color: #c5c5e6;
	font-size: 12px;
}