@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.topbar-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.topbar-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    /* border: 1px solid red; */
    gap: 15px;
    padding: 0 20px;

    
}

.topbar-search {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    border: 1px solid #4b4f5d;
    border-radius: 83px;
    width: 300px;
    padding: 5px 10px;
    margin-left: 20px;
}

.topbar-search-icon {
    stroke: #4b4f5d;
}

.topbar-search input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    color: #fff;
    font-family: 'Poppins';
    color: #4b4f5d;;
}

.topbar-search input::placeholder {
    color: #4b4f5d;
  
}

.topbar-profile .profile-pic-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px 5px 3px 5px;
    gap: 20px;
    width: 180px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
 
}

.topbar-profile .profile-pic-container:hover{
    background-color: var(--card-bg-color);
    border-radius: 10px 10px 0 0;

   

}

.profile-pic-container-active{
    background-color: var(--card-bg-color);
    border: 1px solid #2A2C37;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 
              0 5px 15px rgba(0, 0, 0, 0.1), 
              0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px 10px 0 0;
}



.topbar-notification-icon {
    height: 29px;
    width: 29px;
    cursor: pointer;
    transition: 0.3s;
}

.topbar-notification-icon:hover{
    transform: scale(1.1);
}
.active-icon{
    transform: scale(1.1);
}


.topbar-profile .profile-pic-container img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    /* position: absolute; */
}

.profile-pic {
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}



.topbar-online-status {
    height: 11px;
    width: 11px;
    border-radius: 50px;
    background-color: #03F054;
    position: absolute;
    bottom: 3 px;
    right: 5px;

    
    /* position: relative;
    z-index: 1000;
    bottom: 0; */
}

.icon-container{
    position: relative;
}

.dropDwon{
    border-radius: 5px;
    height: 500px;
    width: 400px;
    position: absolute;
    right: 10px;
    top: 40px;
    display: none;
    z-index: 999;
    background-color: var(--card-bg-color);
    overflow-y: auto;
    border: 1px solid #2A2C37; /* Lighter shade for 3D effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 
              0 5px 15px rgba(0, 0, 0, 0.1), 
              0 10px 30px rgba(0, 0, 0, 0.05); 
}

.active{
    display: block;
    animation: slideDown 0.3s forwards;
}

.search-dropDwon{
    position: absolute;
    width: 300px;
    max-height: 400px;
    z-index: 999;
    background-color: var(--card-bg-color);
    overflow-y: auto;
    border: 1px solid #2A2C37; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 
              0 5px 15px rgba(0, 0, 0, 0.1), 
              0 10px 30px rgba(0, 0, 0, 0.05); 
    top : 40px;
    left: 0;
    border-radius: 10px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.search-dropDwon::-webkit-scrollbar {
    display: none;
}

.searchActiv{
    opacity: 1; 
    visibility: visible; 
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.DropDownNotificationAnimation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.EmptyBox{
    align-self: center;
    opacity: 0.3;
}

.dropDwonProfil{
    border-radius: 0 0 10px 10px;
    height: 150px;
    width: 180px;
    position: absolute;
    right: 0px;
    top: 60px;
    display: none;
    z-index: 999;
    overflow-y: auto;
    background-color: var(--card-bg-color);
    border: 1px solid #2A2C37;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 
              0 5px 15px rgba(0, 0, 0, 0.1), 
              0 10px 30px rgba(0, 0, 0, 0.05); 
}

.dropDwonProfil::-webkit-scrollbar {
    display: none;
}

.profilActive{
    display: block;
    animation: slideDown 0.3s forwards;

}

.dropList{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap : 10px;

    /* padding: 10px; */
}

.list{
    cursor: pointer;
    padding: 2px 5px 2px 5px;
    border-bottom: #4b4f5d 1px;
}

.list:hover{
    background-color: #2E313D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}