.tournment-container {
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
}



.tournament-icon {
    stroke: #787E97;
    height: 25px;
    width: 25px;
}



.tournament-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* border-bottom: 3px solid red; */
    padding: 10px;

}

.tournament-menu-item span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #787E97;
}

.tournament-menu {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.active-tournament-menu {
    border-bottom: 2px solid #C6C8CF;
}

.active-tournament-menu .tournament-icon {
    stroke: #C6C8CF
}

.active-tournament-menu span{
    color: #C6C8CF;
}


.tournament-menu-content {
    margin-top: 30px;
    height: calc(100% - 164px) ;
}


.tournament-title {
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
}

.tournament-subscribers-avatars {
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    position: relative;
}

.tournament-subscribers-avatars img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-left: -10px; 
    border-radius: 50%; 
}
.tournament-subscribers-avatars img:first-child {
    margin-left: 0; 
}
/* .image1 {
    left: 0;
    z-index: 4;
}

.image2 {
    left: 20px;
    z-index: 3;
}

.image3 {
    left: 40px;
    z-index: 2;
}

.image4 {
    left: 60px;
    z-index: 1;
} */
.tournament-subscribers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tournament-subscribers-counter {
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}