.tournment-container {
    /* border: 1px solid red; */
}



.tournament-icon {
    stroke: #787E97;
    height: 25px;
    width: 25px;
}



.tournament-menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* border-bottom: 3px solid red; */
    padding: 10px;

}

.tournament-menu-item span {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #787E97;
}

.tournament-menu {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.active-tournament-menu {
    border-bottom: 2px solid #C6C8CF;
}

.active-tournament-menu .tournament-icon {
    stroke: #C6C8CF
}

.active-tournament-menu span{
    color: #C6C8CF;
}


.tournament-menu-content {
    margin-top: 30px;
}


.tournament-title {
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
}

.tournament-subscribers-avatars {
    width: 130px;
    height: 40px;
    /* border: 1px solid rebeccapurple; */
    position: relative;
}

.tournament-subscribers-avatars img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    position: absolute;
}
.image1 {
    top: 0;
    bottom: 0;
    z-index: 1;
}

.image2 {
    left: 30px;
    z-index: 2;
}

.image3 {
    left: 60px;
    z-index: 3;
}

.image4 {
    left: 90px;
    z-index: 4;
}

.tournament-subscribers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tournament-subscribers-counter {
    font-family: 'Jockey One';
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}