.modal-creatTournament{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000;
  }
  
  .modal-creatTournamentPopup {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    background: #11141B;
    border: 1px solid #2C3143;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
    color: #FFFFFF; 
    padding: 30px;
    width: 80%; 
    box-sizing: border-box;
  }
  

  .TournamenrOnlineOffline{
    display: flex;
    gap: 20px;
  }

  .TournamentOF{
    cursor: pointer;

  }
  .AddClick{
    cursor: pointer;


  }

  .AddClick:hover{

    transform: scale(1.05);

  }
  .activeTournamenrOf{
    border-bottom: #F62943 solid;
  }
  .error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}
  .modal-blocked  h2 {
    color: #FFFFFF; 
    margin-top: 20px;
    padding: 10px;
    height: 100px;
  }
  
  .modal-blocked  p {
    font-size: 16px; 
    line-height: 1.5;
    height: 100px;
  }
  
 
  

  .modal-close-button {
    position: absolute;
    top: 10px; 
    right: 15px; 
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    background-color: none;
    outline: none; 
  }

.sections-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Arena-container{
    display: flex;
    flex-direction: column;
    border-bottom: solid #1C1E27 4px;
    width: 100%;
    height: 35%;
    gap: 3px;
}


.selectTitle-container{
    display: flex;
    flex-direction: column;
    border-bottom: solid #1C1E27 4px;
    padding: 10px 0;
    width: 100%;
    height: 15%;
    gap: 3px;
}


.maps-tournomant{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
    margin-top: 10px;

}

.mapBox{
    border: solid #1C1E27 4px;
    width: 25%;
    height: 80%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.mapBox:hover {
    transform: scale(1.1);
    border-color: #ccc;
}

.mapBox.selected {
    border-color: #F62943; 
    box-shadow: 0 0 10px rgba(246, 41, 67, 0.8); 
    transform: scale(1.1);
}
.maps-tournomant .undergroundHell{
    background-image: url('https://s3-alpha-sig.figma.com/img/08d4/60e9/f960c436b61d7a2a61eda9b9c2da25b6?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kfw3qkO2cb~OxkK~1zDyXAEAoASLkM3zjl~NvJ8OszB4vlN0qlkFPi03EUvtyQhsfwu1w-R-jMDddrV1khg43yBm9En2NQbHxaOowGVR1DIR8dtJUUzdTl07c~jM2CEN9RxDV7PApxfZwRcOMR3Kezrz99N~D3FW98KGB5uWrBUOfoeqk7nKwD-Q~PN9M00VWYYHOTs4jc~N4tj7SBzHMiY7y4zkI1S6AYod3ZrKj7BMv9vM2dXtNfjm7gv0z~jUlhOP6~gatmQ7tY0NMGoc2H3uGfmoerhftHDI1JbUiqQSHy~HuyoQqydCpLNDTnmL7v3~dAVIeVu7-TS2FA0rRQ__');
}

.maps-tournomant .undergroundForest{
    background-image: url('https://s3-alpha-sig.figma.com/img/1ba0/041a/49cc78749981808974e3a42c6734f70e?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oBYQE98N7P1ycY4xDgm1dHb6OchclblYNz3WyujJtogA8I5lnVmCIssKlXJ6-PCDjzKWh0Iql2OofW-kcGoeqUZjt7eNcOG-4vL1hOOcu4~1Me6Kr1bGmxqcpfm3trzohE~9ZNwfdW13OcB4g7VK9ziDvDaDWs4t31Uh0iHmXeR1ve5PqAlr6~zGTZsJ-XD3TsMvaG1d0~4VewnFaYRxQOPB6DBnN8idCHTmbYzQoqYR99XjosPpYtGXxu-BF3Ss3WH71XGLCE8dfqZcJ9dqPAT4WeijaZnplrHNK0K1bF4ZwI6a3NWcllDiJVRD1wlRcKI0UoL2OT5fPQlpBCKQlg__');

}

.maps-tournomant .undergroundGraveyard{
    background-image: url('https://s3-alpha-sig.figma.com/img/75c9/3864/504002b7ecb5e44f27b429a1a44b0ce0?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MTk85X4-J4Q8iuXep~yaGOD9im53CgDXtdMewBaCNn6~F6KFcVSFzTDAEcPURtaY7zBVk9eu-UiBNgPKMHmw4KfrxxwQnhh0Qln3pNWfA2UfMKcuzGPWNGW0Lne79rYReT6QeZMbX-UletaGxXcABki5Xnf9ZYkpluRmSAaPfWKuxkE4u6SgjGjLJrqWpjlNWXQC-ZoUqnX9HrLfnwre2PgzVHnt0QSGtUJH7WOvYqmRqythAz1w-XlGx39PJtcmhcr2r-XFTkRXDR~yn3hO~RQ7Hy90IK0pB87cDqiDznjz6UzTp133EZvXxZmm-pUdQ8JjJto1Jwq5EqzP83zvSA__');
}

.selectNameInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 300px;
    height: 35px;
    background: #1C1E27;
    border-radius: 8px;
    margin-top: 10px;
}
.selectNameInput input{
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
}

.inputTournamant-icon {
    margin-left: 10px; 
    cursor: pointer;
}

.selectPlayer-container {
    margin-top: 10px;
    width: 100%;
    height: 35%;
}

.displayPlayers{
  display: flex;
 
  height: 50%;
}

.playerselectedOwner{
  display: flex;
  align-items: center;
  /* padding: 0 10px ; */
 
  height: 100%;
  width: 10%;
}
.playerselected{
    display: flex;
    align-items: center;
    padding: 0 10px ;
  
    height: 100%;
    width: 90%;
}



.playerSelect {
    width: 40%;
}

.tournamentButton-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  height: 20%;
  width: 100%;
}

.CreatTournamentButton{
  display: flex;

  height: 70%;
  width: 300px;
  margin-right: 120px;
}

.playerselectedOwner{

}

.slectedPlayerItemOwner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #2C3143;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
  background: rgba(22, 22, 37, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 90%;
  margin: 0 10px;
}

.imagePlayerSelectedOwner img{
  width: 70px;
  height: 70px;
  border: 1px solid #2C3143;
  border-radius: 50%;
}