@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.joined-tournament{
    height: 100%;
    width: 100%;

}

.tournament-title{
    height: 10%;
    width: 100%;

}
.tournament-info-container {


    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(22, 22, 37, 0.05);
    border: 1px solid #2C3143;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
    background-size: cover; 
    background-position: center;

}





.tournament-info-icon {
    stroke: #fff;
    width: 40px;
    height: 40px;
}

.tournament-info-item {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 200px;
    height: 80px;
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #1C1E27;

}



.tournament-info-container.undergroundHell {
    background-image: url('https://s3-alpha-sig.figma.com/img/08d4/60e9/f960c436b61d7a2a61eda9b9c2da25b6?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kfw3qkO2cb~OxkK~1zDyXAEAoASLkM3zjl~NvJ8OszB4vlN0qlkFPi03EUvtyQhsfwu1w-R-jMDddrV1khg43yBm9En2NQbHxaOowGVR1DIR8dtJUUzdTl07c~jM2CEN9RxDV7PApxfZwRcOMR3Kezrz99N~D3FW98KGB5uWrBUOfoeqk7nKwD-Q~PN9M00VWYYHOTs4jc~N4tj7SBzHMiY7y4zkI1S6AYod3ZrKj7BMv9vM2dXtNfjm7gv0z~jUlhOP6~gatmQ7tY0NMGoc2H3uGfmoerhftHDI1JbUiqQSHy~HuyoQqydCpLNDTnmL7v3~dAVIeVu7-TS2FA0rRQ__');
}

.tournament-info-container.undergroundForest {
    background-image: url('https://s3-alpha-sig.figma.com/img/1ba0/041a/49cc78749981808974e3a42c6734f70e?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oBYQE98N7P1ycY4xDgm1dHb6OchclblYNz3WyujJtogA8I5lnVmCIssKlXJ6-PCDjzKWh0Iql2OofW-kcGoeqUZjt7eNcOG-4vL1hOOcu4~1Me6Kr1bGmxqcpfm3trzohE~9ZNwfdW13OcB4g7VK9ziDvDaDWs4t31Uh0iHmXeR1ve5PqAlr6~zGTZsJ-XD3TsMvaG1d0~4VewnFaYRxQOPB6DBnN8idCHTmbYzQoqYR99XjosPpYtGXxu-BF3Ss3WH71XGLCE8dfqZcJ9dqPAT4WeijaZnplrHNK0K1bF4ZwI6a3NWcllDiJVRD1wlRcKI0UoL2OT5fPQlpBCKQlg__');
}

.tournament-info-container.undergroundGraveyard {
    background-image: url('https://s3-alpha-sig.figma.com/img/75c9/3864/504002b7ecb5e44f27b429a1a44b0ce0?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MTk85X4-J4Q8iuXep~yaGOD9im53CgDXtdMewBaCNn6~F6KFcVSFzTDAEcPURtaY7zBVk9eu-UiBNgPKMHmw4KfrxxwQnhh0Qln3pNWfA2UfMKcuzGPWNGW0Lne79rYReT6QeZMbX-UletaGxXcABki5Xnf9ZYkpluRmSAaPfWKuxkE4u6SgjGjLJrqWpjlNWXQC-ZoUqnX9HrLfnwre2PgzVHnt0QSGtUJH7WOvYqmRqythAz1w-XlGx39PJtcmhcr2r-XFTkRXDR~yn3hO~RQ7Hy90IK0pB87cDqiDznjz6UzTp133EZvXxZmm-pUdQ8JjJto1Jwq5EqzP83zvSA__');
}


.tournament-info-item-txt p {

font-family: 'Rajdhani';
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;


}

.tournament-info-item-txt span {
    font-family: 'Rajdhani';
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #A9A6A6;
} 


.tournament-desc {
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;

    display: flex;

 

}

.tournament-desc-rules {
    width: 40%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.tournament-desc-rules-top h1 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


.tournament-desc-rules-top p {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A9A6A6;
}

.tournament-top-player-container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.tournament-top-player-container h2{
    height: 5%;

}
.tournament-top-player {
    width: 80%;
    height: 40%;
    border-radius: 27px;
    padding: 10px;

    background-color: #1C1E27;
    display: flex;

    align-items: center;


}

.nameRank{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tournament-top-player-avatar {
    /* border: 1px solid red; */
    display: flex;

    align-items: center;
    gap: 10px;
}


.tournament-top-player-avatar span {
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.tournament-top-player-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.tournament-top-player-stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.tournament-top-player-stat-progress {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: conic-gradient(red 3.6deg, green 0deg);
}

.tournament-top-player-stats{
    display: flex;
    justify-content: space-around;
    text-align: center;

    padding: 10px;
    width: 80%;
}
.ownerWinRate{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* width: 130px;
    height: 130px; */
    width: 30%;
    height: 130px;
}

.JoinedTournomanentButoon{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    align-items: flex-end;

    /* margin-top: 200px; */
    height: 20%;

}

.disapledButton{
    width: 100%;
}
.leaveTournomantButton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-top: 200px;
    height: 200px;
 
}

.TournamentTwoButton{
 

}
@media screen and (max-height: 1200px){
    .TournamentTwoButton{
        display: flex;

    }
}
@media screen and (max-width: 950px){
    .tournament-desc-rules{
       display: flex;
       flex-direction: row;
        padding-bottom: 20px;
       width: 100%;
    }
    .tournament-desc-rules-top{
        background: rgba(22, 22, 37, 0.05);
        border: 1px solid #2C3143;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
        padding: 5px;

    }
    .tournament-desc{
        display: flex;
        flex-direction: column;
    }
    .tournament-top-player{
        width: 100%;
    }
    .tournament-top-player-stats{
        width: 100%;
  
    }
    .JoinedTournomanentButoon{
        display: flex;
        justify-content: center;
        align-items: center;
    

        height:20%;

    }
}