.slectedPlayerItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2C3143;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
    background: rgba(22, 22, 37, 0.05);
    border-radius: 13px;
    width: 10%;
    height: 90%;
    margin: 0 10px;

}

.imagePlayerSelected{
    /* width: 81px;
    height: 81px; */
    /* border: solid; */
    border-radius: 50%;
}

.imagePlayerSelected img{
    width: 70px;
    height: 70px;
    border: 1px solid #2C3143;
    border-radius: 50%;
}

.slectedPlayerItem p{
    /* padding-top: 10px; */
}