@keyframes slideInLeftFriends {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.bracket-container{

    height: 100%;
    width: 100%;
    display: flex;

}


.second-four-player{

    height: 100%;
    width: 30%;
    display: flex;

    min-width: 300px;

}

.second-four-player .player-items{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.four-lines{
    width: 30%;
    height: 100%;
}

.four-lines .two-lines{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.four-lines .two-lines .first-line{
    width: 100%;
    height: 50%;
    top: 50px;
    border: solid 1px #2C3143
    ;
    border-left: none;
}


.first-eight-players .player-items{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.first-eight-players .eight-lines{
    /* border: solid red; */
    width: 25%;
    height: 100%;

}
.eight-lines .two-lines{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


.eight-lines .two-lines .first-line{
    /* position: absolute; */
    width: 100%;
    height: 50%;
    top: 50px;
    border: solid 1px #2C3143;
    border-left: none;

}

.first-eight-players .last-line{
    width: 25%;
    height: 100%;
}

.first-eight-players .t-lines{
        height: 25%;
        position: relative;
}


.first-eight-players .t-lines::after{
    content: "";
      position: absolute;
      top: 50%; 
      left: 0;
      right: 0;
      height: 1px; 
      background-color: #2C3143; 
      transform: translateY(-50%); 
}

.second-four-player .last-line{
    width: 25%;
    height: 100%;
}

.second-four-player .t-lines{
        height: 50%;
        position: relative;
}


.second-four-player .t-lines::after{
    content: "";
      position: absolute;
      top: 50%; 
      left: 0;
      right: 0;
      height: 1px; 
      background-color:#2C3143;
      transform: translateY(-50%); 
}

.final-game-players{
    height: 100%;
    width: 30%;
    min-width: 300px;
    display: flex;
}

.final-game-players .player-items{
    width: 50%;
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-around;
}

.final-game-players .final-lines{
    width: 25%;
    height: 100%;
}

.final-game-players .final-lines .one-lines{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.final-game-players .final-lines  .first-line{
    width: 100%;
    height: 50%;
    top: 50px;
    border: solid 1px #2C3143;
    border-left: none;
}


.final-game-players .last-line{
    width: 25%;
    height: 100%;
}

.final-game-players .t-lines{
        height: 100%;
        position: relative;
}


.final-game-players .t-lines::after{
    content: "";
      position: absolute;
      top: 50%; 
      left: 0;
      right: 0;
      height: 1px; 
      background-color: #2C3143; 
      transform: translateY(-50%); 
}

.winner-tounament{
    height: 100%;
    width: 20%;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
  

}

.tournament-win{
    position: absolute;
    left: -130px;
    transition: 0.6s;
}

.tournament-win:hover{
    transform: scale(1.2) rotate(-0.05turn);
}

.TournamentPlayers{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 2px #2C3143;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    padding: 10px;
    animation: slideInLeftFriends 1s ease-out;
    min-width: 400px;

}

.TournamentWinner{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.TheWinnerCard{
    box-sizing: border-box;
    background-color: #1A1B22; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    flex: 1;
}

.WinnerImage{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.WinnerImage img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #fff; 
}

.WinerNameRank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}

.winerProgress{
    display: flex;
    height: 100px;

}

@media screen and (max-width: 950px) {
    .second-four-player{
        display: none;
    }
    .final-game-players{
        display: none;

    }
    .winner-tounament{
        display: none;

    }
    .TournamentPlayers{
        width: 100%;
    }
}