.TournamentPlayersItem {

    width: 100%;
  
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #1A1B22; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin-bottom: 10px;
}

.firstPlayer {
    height: 100%;
    width: 45%; 
    display: flex;
    align-items: center;

}

.secondPlayer{
    height: 100%;
    width: 45%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;

  
}

.TournamentPlayers-firstPlayerImage img, 
.TournamentPlayers-secondPlayerImage img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #fff; 
}

.TournamentPlayers-firstPlayerName {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;



}

.TournamentPlayers-secondPlayerName {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;


}

.vsLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;

    padding: 5px 10px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
