@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.setting-input-container {
    height: 50px;
    width: 560px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 80px;
    font-family: 'Roboto';
    margin-bottom: 15px;
}

.setting-input-container span {
    /* height: 100%; */
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}






.setting-input-container input {
    padding: 0px 20px;
    height: 100%;
    width: 359px;
    border: none;
    outline: none;
    background-color: #3a3b41;
    color: #9c9da0;
    border-radius: 8px;
}

.setting-input-container input::placeholder {

}