.AuthTwoFaConatiner {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 70%;
}


.AuthTwoFaHeader {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}



.AuthTwoFaHeader h1 {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    color: #FFFFFF;

}

.AuthTwoFaHeader p {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #8D93AC;
}

.AuthOtpCard {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
    margin-bottom: 30px;
    width: 100%;
}

.AuthOtpCard input {
    width: 90px;
    height: 90px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Rajdhani';
    background: rgba(22, 22, 37, 0.05);
    border: 1px solid #2C3143;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 100px rgba(0, 0, 0, 0.25);
}

.AuthOtpCard input:focus {
    outline: 2px solid #F62943;
    border-color: transparent;
 }


.AuthTwoFaAction {
    display: flex;
    flex-direction: column;

}

.AuthTwoFaAction .AuthTwoFaButton {
    width: 100%;
    height: 80px;
    background: #F62943;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;

}

.AuthTwoFaAction .AuthTwoFaBackButton {
    width: 100%;
    height: 80px;
    background: transparent;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 51px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;

}