@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideRight{
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

.dashboard-contianer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}


.profilTransition{

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.profil-icons{
    display: flex;
    width: 100%;
    justify-content: center;

    /* width: 75%; */
}

.profil-buttons{
    display: flex;
    justify-content: end;
    width: 75%;
    height: 30px;
}

.profil-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg-color);
    border-radius: 5px;
    width: 130px;
    height: 30px;
    margin-left: 10px;
    height: auto;
    transition: background-color 0.3s, transform 0.3s;
    color: white; 
    text-align: center;
    cursor: pointer;
}

.profil-button.disabled {
  opacity: 0.5; 
  pointer-events: none;
  cursor: not-allowed;
}



.profil-button:hover {
    background-color: #2E313D;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profil-icon{
    width: 24px;
    height: 24px;
    padding-right: 5px;
}
.dashboard-profil {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;
    
    flex : 1 1 auto
}

.profilHistoryAcgievmeants-container-profil{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.profil-container-profil{
    animation: slideDown 1s ease-out;

    height: 20%;
}
.historyAchievments-container-profil{
    height: 50%;
    display: flex;
}

.history-container-profil{
    animation: slideInLeft 1s ease-out;

    height: 100%;
    width: 50%;
    font-family: "Rajdhani", sans-serif;
    font-style: normal;
}

.achievments-container-profil{
    animation: slideRight 1s ease-out;
    height: 100%;
    width: 50%;
}

@media screen and (max-width: 950px) {
  .dashboard-profil{
    flex-direction: column; 

  }
  .profilHistoryAcgievmeants-container-profil{
    height: 100%;
    width: 100%;

  }
  .profil-container-profil{
    width: 100%;
    height: 30%;
 

  }
  .lineChart-container{
    display: none;
  }

  .historyAchievments-container-profil{
 
    display: flex;
    flex-direction: column;
    height: 70%;
  }

  .history-container-profil{
    width: 100%;
    height: 50%;
  }

  .achievments-container-profil{
    width: 100%;
    height: 50%;
  }

}
