/* Define the animation */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply animation to player info container */
.player-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add animation to vs-image */
.player-info-container .vs-image {
    margin: 30px;
    animation: slideInFromTop 0.5s ease-out;
    font-size: 64px;
    color: #2C3143;
}

/* Add animation to player container */
.player-info-container .player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: slideInFromTop 0.7s ease-out;
}

/* Add animation to each player img container */
.player-info-container .player-container .player-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    animation: slideInFromTop 0.9s ease-out;
}
.player-avatar {
    width: 255px;
    height: 255px;
    border-radius: 10px;
}
/* Add animation to player information container */
.player-info-container .player-container .players-informations {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: slideInFromTop 1s ease-out;
}

/* Add animation to player info rows */
.player-info-container .player-container .players-informations .info {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    animation: slideInFromTop 1.2s ease-out;
}

/* Animation for title container */
.player-info-container .player-container .players-informations .info .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 192px;
    height: 82px;
    background-color: #F62943;
}

/* Animation for data container */
.player-info-container .player-container .players-informations .info .data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 68px;
    background-color: #2C3143;
}

/* Text styles */
.player-info-container .player-container .players-informations .info .title-container h2, 
.player-info-container .player-container .players-informations .info .data h2 {
    color: white;
    font-size: 24px;
}

.timer-container {
    margin-top: 30px;
    text-align: center;
}

.timer-container h2 {
    font-size: 28px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}