/* scoreboard.css */

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.scoreboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1C1E27;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    max-width: 1150px;
    height: 80px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: visible;
}

.avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px;
}

.username {
    font-family: "Jockey One";
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.user-score {
    font-family: "Jockey One";
    font-size: 64px;
    color: #fff;
    margin: 5px 15px;
    padding: 0 20px;
}

.line {
    width: 4px;
    height: 72px;
    background-color: #2C3143;
    margin: 0 20px;
    align-self: center;
}
